<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/style.css"> 
        {% endblock %}

    
    <title>Maleteo</title>
</head>
<body>
    <main>
    {% for flashMessage in app.session.flashbag.get('notice-sesion') %}
    <div class="flash-notice slideDown">
        {{ flashMessage }}
    </div>
{% endfor %}
     {% block header %}
        <header>
            <picture>
                <a href="{{ path('maleteo') }}"><img src="assets/img/logo.svg" alt="Logo Maleteo"></a>
            </picture>
         {% if usuarioLogeado %}
        <h2>Hola {{ usuarioLogeado }} <a href="{{ path('logout') }}">| Cerrar sesión</a></h2>
        {% endif %}
        </header>
     {% endblock %}
     {% block body %}
        <section id="jumbotron">
            <article class="stores">
                <h1>Gana dinero guardando equipaje a viajeros como tu </h1>
                <div class="store-logos">
                    <picture>
                        <img src="assets/img/app-store.svg" alt="Descarga Maleteo en Apple Store">
                    </picture>
                    <picture>
                        <img src="assets/img/google-play.svg" alt="Descarga Maleteo en Google Play">
                    </picture>
                </div>
            </article>
            <article></article>
        </section>
        <section id="como-funciona">
            <h2>¿Cómo funciona?</h2>
            <article class="pasos">
                <div class="paso">
                    <div class="paso-circulo">1</div>
                    <h3>Date de alta</h3>
                    <p class="paso-texto">Una olla de algo más vaca que carnero,
                        salpicón las más noches, duelos y quebrantos los sábados
                    </p>
                </div>
            
                <div class="paso">
                    <div class="paso-circulo">2</div>
                    <h3>Date de alta</h3>
                    <p class="paso-texto">Una olla de algo más vaca que carnero,
                        salpicón las más noches, duelos y quebrantos los sábados
                    </p>
                </div>
        
                <div class="paso">
                    <div class="paso-circulo">3</div>
                    <h3>Date de alta</h3>
                    <p class="paso-texto">Una olla de algo más vaca que carnero,
                        salpicón las más noches, duelos y quebrantos los sábados
                    </p>
                </div>
            </article>
        </section>
        <section id="contacto">
            <picture><img src="assets/img/iPhoneX@2x.png" /></picture>

            {% for message in app.flashes('success') %}
                 <div class="no-error">
                    {{ message }}
                </div>
            {% endfor %}
            

            <!-- onsubmit="return validarAlEnviar()"-->
            <form id="solicitarDemo" name="solicitarDemo" class="contacto-formulario" action="{{ path('maleteo') }}" method="Post">
                <h3>Solicita una demo</h3>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Vincent Chase" required="required">
                <div><p id="errorNombre"></p></div>

                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="vincent@gmail.com" required="required">
                <div><p id="errorEmail"></p></div>
                
                <label for="ciudad">Ciudad</label>
                <select name="ciudad" id="ciudades" required="required">
                    <option value="Madrid">Madrid</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Sevilla">Sevilla</option>
                </select>
                <label for="privacidad" class="privacidad">  
                    <input type="checkbox" name="privacidad" id="privacidad" required="required">
                    Aceptas la <a href="#">politica de privacidad</a>
                </label>
                <input type="submit" value="ENVIAR" id="btnEnviar">
            </form>
        </section>
        <section id="opiniones-guardianes">
            <h4>Opiniones de otros guardianes</h4>
            <article class="opiniones">
             {% for opinion in opiniones %}
                <div class="opinion">
                    <p>{{ opinion.opinion}}</p>
                    <span class="author">{{ opinion.autor}}</span>
                    <address>{{ opinion.zona }}, {{ opinion.ciudad }} </address>
                </div>
                {% endfor %}
            </article>  
        </section>
        <footer>
            <picture><img src="assets/img/logo.svg" alt="Logo Maleteo"></picture>
            <p>Hecho con <span class="hearts">&hearts;</span> en Madrid</p>
        </footer>
    </main>
    {% endblock %}
        {% block javascripts %}
        <script src="/assets/js/validacion.js"></script>
        <script src="/assets/js/solicitarDemo.js"></script>
        {% endblock %}
    
</body>
</html>