
<ul>
 <h1>Usuarios Registrados para ver la Demo</h1>
   
    {% for usuarioRegistrado in usuariosRegistrados %}
          
           
             <p>
                Nombre: {{ usuarioRegistrado.nombre }}<br/>
                Email: {{ usuarioRegistrado.email }}<br/>
                Contra: {{ usuarioRegistrado.contra }}<br/>
                -------------------
                </p>
            
    {% endfor %}
</ul>